/* font-family: 'Laila', sans-serif;
font-family: 'Mynerve', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@500&family=Mynerve&display=swap');

:root {
    --color1: rgba(127, 51, 14, 0.76);
    --color2: rgb(129, 123, 123);
    --color3: rgb(251, 110, 94);
    --color4: rgb(250, 235, 215);
    --font1: 'Mynerve', cursive;
    --font2: 'Laila', sans-serif;
    --shadowBox: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    --shadowText: 3px 3px 2px rgba(0, 0, 0, 0.67);
}

* {
    margin: 0px;
    padding: 0px;
}

svg {
    width: 24px;
    height: 24px;
    transition: 0.3s;
}

body {
    background: var(--color1);
    color: var(--color4);
    width: 100%;
}

span {
    color: var(--color3);
}

/***********HEADER********************/

header {
    width: 95%;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: var(--font1);
    text-shadow: var(--shadowText);
    font-size: 23px;
    line-height: 28px;
}

header p {
    font-size: 12px;
    line-height: 15px;
}

#headerNav {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

#headerNav svg:hover {
    fill: rgb(250, 89, 71);
    transition: 0.3s;
}

/**********MAIN********************/

main {
    width: 100%;
    margin: 5px auto;
}

section {
    display: block;
    background: var(--color2);
    border-radius: 10px;
    box-shadow: var(--shadowBox);
    margin: 3vw 1vw 0 1vw;
    padding: 5px;
    font-size: 4vw;
}

h2 {
    margin: 2vw;
    font-size: 5vw;
    line-height: 20px;
    text-shadow: var(--shadowText);
}

/**********SITE********************/

.place {
    margin: 2vw;
}

.previewers {
    margin: 0.5vw;
    display: flex;
    flex-direction: column;
}

.previewerLead {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color4);
    border-radius: 2vw;
}

.previewersList {
    margin-top: 1vw;
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}

.previewer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color4);
    border-radius: 2vw;
}

.previewer img,
.previewerLead img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 2vw;
}

.credits {
    margin: 1vw;
    text-align: end;
    font-size: 2vw;
}

.informer {
    margin: 1vw;
}

.accordionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    background-color: var(--color4);
    color: var(--color2);
    margin: 2vw 0 2vw 0;
    padding: 0 2vw 0 2vw;
    border-radius: 2vw;
}

.accordionHeader svg {
    fill: var(--color2);
}

.accordionContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 0;
    overflow: hidden;
    margin: 0 2vw 0 2vw;
}

.accordionContent.open {
    height: fit-content;
}

.post {
    margin: 2vw 0 0 0;
}

/**********ACCUEIL********************/

.carousel {
    margin: 4vw 0 4vw 0;
    position: relative;
    width: 95vw;
    height: 95vw;
    display: flex;
    justify-content: center;
}

#carouselItem {
    max-width: 100%;
    max-height: 100%;
    border-radius: 2vw;
}

.carousel svg {
    fill: var(--color4);
    z-index: 2;
    width: 10vw;
    height: 10vw;
}

.carousel .arrow-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2vw;
}

.carousel .arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2vw;
}

#item-name {
    position: absolute;
    bottom: 0;
}

#accueil p {
    margin: 2vw;
}

/**********SEARCH********************/

.leaflet-container {
    margin: 0.5vw;
    width: 99%;
    height: 120vw;
    border-radius: 2vw;
}



/**********FOOTER******************/

footer {
    margin: 4vw auto;
    display: flex;
    justify-content: center;
}