/* font-family: 'Laila', sans-serif;
font-family: 'Mynerve', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@500&family=Mynerve&display=swap');

:root {
    --color1: rgba(127, 51, 14, 0.76);
    --color2: rgb(129, 123, 123);
    --color3: rgb(251, 110, 94);
    --color4: rgb(250, 235, 215);
    --font1: 'Mynerve', cursive;
    --font2: 'Laila', sans-serif;
    --shadowBox: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    --shadowText: 3px 3px 2px rgba(0, 0, 0, 0.67);
}

* {
    margin: 0px;
    padding: 0px;
}

svg {
    width: 24px;
    height: 24px;
    transition: 0.3s;
}

body {
    background: var(--color1);
    color: var(--color4);
    width: 100%;
}

span {
    color: var(--color3);
}

/***********HEADER********************/

header {
    width: 95%;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: var(--font1);
    text-shadow: var(--shadowText);
    font-size: 23px;
    line-height: 28px;
}

header p {
    font-size: 12px;
    line-height: 15px;
}

#headerNav {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

#headerNav svg:hover {
    fill: rgb(250, 89, 71);
    transition: 0.3s;
}

/**********MAIN********************/

main {
    width: 100%;
    margin: 5px auto;
}

section {
    display: block;
    background: var(--color2);
    border-radius: 10px;
    box-shadow: var(--shadowBox);
    margin: 10px 5px 0px 5px;
    padding: 5px;
}


h2 {
    margin: 5px 5px 0px 5px;
    font-size: 18px;
    line-height: 20px;
    text-shadow: var(--shadowText);
}

.place {
    margin: 5px 10px 0px 10px;
    font-size: 3vw;
}

.previewers {
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: column;
}

.previewerLead {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color4);
    border-radius: 5px;
}

.previewersList {
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    gap: 3px;
}

.previewer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color4);
    border-radius: 5px;
}

.previewer img,
.previewerLead img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.credits {
    margin: 5px 0px 0px 0px;
    text-align: end;
    font-size: 2vw;
}

.informer {
    margin: 10px 10px 0px 10px;
}

.accordionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    background-color: var(--color4);
    color: var(--color2);
    margin: 10px 0px 10px 0px;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
}

.accordionHeader svg {
    fill: var(--color2);
}

.accordionContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
    margin: 0px 10px 0px 10px;
}

.accordionContent.open {
    height: 120px;
    transition: height 0.5s;
}

.post {
    margin: 10px 0px 0px 0px;
}